<header class="header container">
  <div class="header-wrapper">
    <a href="#"><img src="/img/lalasia.png" alt="lalasia Logo" /></a>
    <nav class="nav">
      <ul class="nav-list">
        <!-- <li class="nav-item">
          <a href="#"></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="./page-2.html">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./page-3.html">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./page-4.html">Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./page-5.html">About Us</a>
        </li>
      </ul>
    </nav>

    <button class="burger" type="button">
      <img src="/img/menu.png" alt="Menu burger" />
    </button>
  </div>
</header>
