<section class="hero">
  <div class="hero-container container">
    <div class="hero-title">
      <div class="hero-title-button">
        <h1 class="hero-tit">Discover Furniture With High Quality Wood</h1>
        <p class="hero-text">
          Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim
          placerat nisi, adipiscing mauris non. Purus parturient viverra nunc,
          tortor sit laoreet. Quam tincidunt aliquam adipiscing tempor.
        </p>
      </div>
      <picture class="image-hero">
        <source
          srcset="/img/rectangle-des-1x.png 1x, /img/rectangle-des-2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="/img/rectangle-mob-1x.png 1x, /img/rectangle-mob-2x.png 2x"
          media="(max-width: 1200px)"
        />
        <img
          class="button-about"
          src="/img/rectangle-des-1x.png"
          alt="lalasia image"
        />
      </picture>
    </div>
    <h2 class="title-h2">Benefits Benefits when using our services</h2>
    <p class="hero-text">
      Pellentesque etiam blandit in tincidunt at donec. Eget ipsum dignissim
      placerat nisi, adipiscing mauris non purus parturient.
    </p>
    <h3>Many Choices</h3>
  </div>
</section>
