.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .header-wrapper {
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
}

/* .nav-list {
  display: none;
} */
@media screen and (min-width: 1200px) {
  .nav-list {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    gap: 30px;

    padding: 10.5px 42.5px;
  }

  .nav-link {
    font-size: 20px;
  }
}
