@import url('./reset.css');
@import url('./header.css');
@import url('./burger-menu.css');
@import url('./footer.css');
@import url('./hero.css');

:root {
  font-family: 'Eudoxus Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 327px;
  padding: 0 24px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 100px;
  }
}
